@layer base {
    :root {
        --rp-base: 32deg 57% 95%;
        --rp-surface: 35deg 100% 98%;
        --rp-overlay: 33deg 43% 91%;
        --rp-muted: 257deg 9% 61%;
        --rp-subtle: 248deg 12% 52%;
        --rp-text: 248deg 19% 40%;
        --rp-love: 343deg 35% 55%;
        --rp-gold: 35deg 81% 56%;
        --rp-rose: 3deg 53% 67%;
        --rp-pine: 197deg 53% 34%;
        --rp-foam: 189deg 30% 48%;
        --rp-iris: 268deg 21% 57%;
        --rp-highlightLow: 25deg 35% 93%;
        --rp-highlightMed: 10deg 9% 86%;
        --rp-highlightHigh: 315deg 4% 80%;
    }
    :root[class='dark'] {
        --rp-base: 249deg 22% 12%;
        --rp-surface: 247deg 23% 15%;
        --rp-overlay: 248deg 25% 18%;
        --rp-muted: 249deg 12% 47%;
        --rp-subtle: 248deg 15% 61%;
        --rp-text: 245deg 50% 91%;
        --rp-love: 343deg 76% 68%;
        --rp-gold: 35deg 88% 72%;
        --rp-rose: 2deg 55% 83%;
        --rp-pine: 197deg 49% 38%;
        --rp-foam: 189deg 43% 73%;
        --rp-iris: 267deg 57% 78%;
        --rp-highlightLow: 244deg 18% 15%;
        --rp-highlightMed: 249deg 15% 28%;
        --rp-highlightHigh: 248deg 13% 36%;
    }
}

html,
body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    flex: 1;
}

@media (hover: none) {
    * {
        box-sizing: border-box;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    input,
    input::after,
    input::before {
        -webkit-touch-callout: initial;
        -webkit-user-select: initial;
        -khtml-user-select: initial;
        -moz-user-select: initial;
        -ms-user-select: initial;
        user-select: initial;
    }

    *::-webkit-scrollbar {
        display: none;
    }

    * {
        scrollbar-width: none;
    }
}

::selection {
    background-color: hsl(var(--rp-highlightMed));
}

.dark {
    color-scheme: dark;
}

button:focus {
    outline: none !important;
}

a {
    color: inherit;
    text-decoration-line: none;
}
