html {
    -ms-overflow-style: none;
    scrollbar-width: thin;
    scrollbar-color: #403d52 #191724;
}

html::-webkit-scrollbar {
    width: 0.75rem;
    height: 0.75rem;
}

html::-webkit-scrollbar-thumb {
    background-color: #403d52;
    border-radius: 0.95rem;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: #524f67;
}

html::-webkit-scrollbar-track {
    background-color: #191724;
}
