    html {
        -ms-overflow-style: none;
        scrollbar-width: thin;
        scrollbar-color: hsl(var(--rp-highlightHigh)) hsl(var(--rp-base));
    }

    html::-webkit-scrollbar {
        width: 0.5rem;
        height: 0.5rem;
    }

    html::-webkit-scrollbar-thumb {
        background-color: hsl(var(--rp-highlightHigh));
        border-radius: 0.95rem;
    }

    html::-webkit-scrollbar-thumb:hover {
        background-color: hsl(var(--rp-highlightHigh));
    }

    html::-webkit-scrollbar-track {
        background-color: hsl(var(--rp-base));
    }
