html {
    -ms-overflow-style: none;
    scrollbar-width: thin;
}

html::-webkit-scrollbar {
    width: 0.75rem;
    height: 0.75rem;
}

html::-webkit-scrollbar-thumb {
    background-color: #8c8fa1;
    border-radius: 0.95rem;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: #6c6f85;
}

html::-webkit-scrollbar-track {
    background-color: #eff1f5;
}

html.dark {
    scrollbar-color: #7f849c #1e1e2e;
}

html.dark::-webkit-scrollbar-thumb {
    background-color: #7f849c;
}

html.dark::-webkit-scrollbar-thumb:hover {
    background-color: #a6adc8;
}

html.dark::-webkit-scrollbar-track {
    background-color: #1e1e2e;
}
