@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap")
layer(base);
@import "tailwindcss";

@theme {
  --color-rp-base: hsl(var(--rp-base));
  --color-rp-surface: hsl(var(--rp-surface));
  --color-rp-overlay: hsl(var(--rp-overlay));
  --color-rp-muted: hsl(var(--rp-muted));
  --color-rp-subtle: hsl(var(--rp-subtle));
  --color-rp-text: hsl(var(--rp-text));
  --color-rp-love: hsl(var(--rp-love));
  --color-rp-gold: hsl(var(--rp-gold));
  --color-rp-rose: hsl(var(--rp-rose));
  --color-rp-pine: hsl(var(--rp-pine));
  --color-rp-foam: hsl(var(--rp-foam));
  --color-rp-iris: hsl(var(--rp-iris));
  --color-rp-highlight-low: hsl(var(--rp-highlight-low));
  --color-rp-highlight-med: hsl(var(--rp-highlight-med));
  --color-rp-highlight-high: hsl(var(--rp-highlight-high));

  --color-blend-5: color-mix(in srgb, currentColor 5%, transparent);
  --color-blend-10: color-mix(in srgb, currentColor 10%, transparent);
  --color-blend-15: color-mix(in srgb, currentColor 15%, transparent);
  --color-blend-20: color-mix(in srgb, currentColor 20%, transparent);
  --color-blend-25: color-mix(in srgb, currentColor 25%, transparent);
  --color-blend-30: color-mix(in srgb, currentColor 30%, transparent);
  --color-blend-35: color-mix(in srgb, currentColor 35%, transparent);
  --color-blend-40: color-mix(in srgb, currentColor 40%, transparent);
  --color-blend-45: color-mix(in srgb, currentColor 45%, transparent);
  --color-blend-50: color-mix(in srgb, currentColor 50%, transparent);
  --color-blend-55: color-mix(in srgb, currentColor 55%, transparent);
  --color-blend-60: color-mix(in srgb, currentColor 60%, transparent);
  --color-blend-65: color-mix(in srgb, currentColor 65%, transparent);
  --color-blend-70: color-mix(in srgb, currentColor 70%, transparent);
  --color-blend-75: color-mix(in srgb, currentColor 75%, transparent);
  --color-blend-80: color-mix(in srgb, currentColor 80%, transparent);
  --color-blend-85: color-mix(in srgb, currentColor 85%, transparent);
  --color-blend-90: color-mix(in srgb, currentColor 90%, transparent);
  --color-blend-95: color-mix(in srgb, currentColor 95%, transparent);
  --color-blend-100: color-mix(in srgb, currentColor 100%, transparent);

  --font-sans:
    DM Mono, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --shadow-nb: 4px 4px 0 hsl(var(--rp-highlight-low));
  --shadow-nb-light: 4px 4px 0 hsl(var(--rp-text));
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

:root {
  --rp-base: 32deg 57% 95%;
  --rp-surface: 35deg 100% 98%;
  --rp-overlay: 33deg 43% 91%;
  --rp-muted: 257deg 9% 61%;
  --rp-subtle: 248deg 12% 52%;
  --rp-text: 248deg 19% 40%;
  --rp-love: 343deg 35% 55%;
  --rp-gold: 35deg 81% 56%;
  --rp-rose: 3deg 53% 67%;
  --rp-pine: 197deg 53% 34%;
  --rp-foam: 189deg 30% 48%;
  --rp-iris: 268deg 21% 57%;
  --rp-highlight-low: 25deg 35% 93%;
  --rp-highlight-med: 10deg 9% 86%;
  --rp-highlight-high: 315deg 4% 80%;
}
@media (prefers-color-scheme: dark) {
  :root {
    --rp-base: 249deg 22% 12%;
    --rp-surface: 247deg 23% 15%;
    --rp-overlay: 248deg 25% 18%;
    --rp-muted: 249deg 12% 47%;
    --rp-subtle: 248deg 15% 61%;
    --rp-text: 245deg 50% 91%;
    --rp-love: 343deg 76% 68%;
    --rp-gold: 35deg 88% 72%;
    --rp-rose: 2deg 55% 83%;
    --rp-pine: 197deg 49% 38%;
    --rp-foam: 189deg 43% 73%;
    --rp-iris: 267deg 57% 78%;
    --rp-highlight-low: 244deg, 18%, 15%;
    --rp-highlight-med: 249deg, 15%, 28%;
    --rp-highlight-high: 248deg, 13%, 36%;
  }
}

::selection {
  background: hsl(var(--rp-muted) / 0.2);
}

html {
  scroll-behavior: smooth;
}

body {
  color: hsl(var(--rp-text));
  background: hsl(var(--rp-base));
  font-weight: 500;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.animate-enter {
  opacity: 0;
  animation: enter 1s forwards;
  animation-delay: calc(var(--stagger) * 200ms);
}

@keyframes enter {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
